<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='table_style.css') }}">
</head>
<body>
    <table>
        <tr>
          <th>log id</th>
          <th>date_time</th>
          <th>client_ip</th>
          <th>internal_ip</th>
        </tr>
        <br>
        <tr>
          <td>{{log_id}}</td>
          <td>{{date_time}}</td>
          <td>{{client_ip}}</td>
          <td>{{internal_ip}}</td>
        </tr>
      </table>      
</body>
</html>